*{
   
    margin: 0;
    padding:0;
}
body{
    background-color: #8d8888;
    

}
.Game-container{
    width: 700px;
    border-radius: 5px;
    background-color: rgb(85, 85, 76);
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color:aquamarine;
    align-items: center;
    text-align: center

}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:aquamarine;
    text-align: center

}
.player-cont{
    display:flex;
    justify-content: center;
    margin: 20px;
    gap : 30px;
}

